.gbw-container {
  display: flex;
  flex-direction: row;
}

.gbw-container-block{
  border-left: 1px dotted #ccc;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.gbw-share-button {
  position: relative;
  bottom: 25px;
  text-align: center;
}

:host ::ng-deep .reading-label {
  font-weight: 400;
  font-size: 20px !important;
  color: #282b31;
  font-family: "Blackbaud Sans Condensed", "Helvetica Neue Condensed", "Arial Narrow";
}
