.social-good-container {
  padding: 25px;
}

.social-good-container h1 {
  padding-bottom: 0px;
  font-size: 1.3em;
  font-weight: bold;
}

.social-good-org {
  padding-bottom: 6px;
  border-bottom: dotted 1px #ccc;
  margin-top: 6px;
}
