<sky-modal>
  <sky-modal-header>
    Login
  </sky-modal-header>
  <sky-modal-content>
    <div id="docs-modal-content">
      <button (click)="login_google()" class="sky-btn sky-btn-primary" type="button">
        Google Login
      </button>

      <bb-login></bb-login>

    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button type="button" class="sky-btn sky-btn-secondary" (click)="save()">
      Close
    </button>
    <button  type="button" class="sky-btn sky-btn-link" (click)="logout()">
      Logout
    </button>
  </sky-modal-footer>
</sky-modal>
