<sky-card>
  <sky-card-title>Blackbaud Profile</sky-card-title>
  <sky-card-content>
    <sky-page-summary>
      <sky-page-summary-image>
        <sky-avatar [name]="constituent?.name"></sky-avatar>
      </sky-page-summary-image>
      <sky-page-summary-title>
        {{constituent?.name}}
      </sky-page-summary-title>
      <sky-page-summary-subtitle>
        <span>ID: </span>{{constituent?.id}}
        <br/>
        <span>Type: </span>{{ constituent?.type }}
        <br/>
        <span>Lookup Id: </span>{{ constituent?.lookup_id }}
        <br/>
      </sky-page-summary-subtitle>
    </sky-page-summary>

    <i>{{ gift?.funds[0].description}}</i><br/>
    <span>Type: </span> {{ gift?.type}}
    <br/>
    <span>Amount: $</span> {{ gift?.amount.value }}
    <br/>
  </sky-card-content>
</sky-card>
