.abw-container {
  display: flex;
  flex-direction: row;
}

.abw-container-block{
  border-left: 1px dotted #ccc;
  justify-content: center;
  width: 150px;
  height: 150px;
}


.abw-share-button {
  position: relative;
  bottom: 25px;
  text-align: center;
}

.abw-share-image {
  background-position: top;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-size: 70px;
}

.abw-metric {
  font-size: 55px;
  color: #0B74B2;
  font-weight: bold;
  font-family: "Blackbaud Sans Condensed", "Helvetica Neue Condensed", "Arial Narrow";
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
  line-height: 35px;
}

.abw-dimension {
  font-weight: 400;
  font-size: 25px;
  color: #282b31;
  font-family: "Blackbaud Sans Condensed", "Helvetica Neue Condensed", "Arial Narrow";
  text-align: center;
}
