<sky-modal>
  <sky-modal-header>
    Profile
  </sky-modal-header>
  <sky-modal-content>
    <form [formGroup]="profileForm">
      <label class="sky-control-label">Email</label>
      <input class="sky-form-control" type="text" formControlName="email" autocomplete="email">
      <label class="sky-control-label">Name</label>
      <input class="sky-form-control" type="text" formControlName="displayName" autocomplete="name">
      <label class="sky-control-label">Organization</label>
      <input class="sky-form-control" type="text" formControlName="organization" autocomplete="organization">
      <label class="sky-control-label">Phone </label>
      <input class="sky-form-control" type="text" formControlName="phone" autocomplete="tel">
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <button type="button" class="sky-btn sky-btn-primary" (click)="save()">
      Save
    </button>
    <button type="button" class="sky-btn sky-btn-primary" (click)="close()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
