<div class="profile-form-container">
  <div class="profile-form-profile-info" *ngIf="photoURL">
    <div class="profile-form-avatar">
      <sky-avatar [name]="displayName" [src]="photoURL" class="profile-center-all">
      </sky-avatar>
    </div>
    <div class="profile-form-name-block">
      <div class="profile-form-display-name"> {{displayName}}</div>
      <div class="profile-form-email"> {{email}}</div>

      <div class="profile-form-edit-profile">
        <a (click)="openModal()">View/edit Profile</a>
      </div>
    </div>
  </div>

  <div class="profile-form-widgets">
    <metric-block-widget [metricModel]="metricModel"></metric-block-widget>
    <metric-block-widget [metricModel]="metricModel"></metric-block-widget>
  </div>
</div>
